{% extends 'base.html.twig' %}

{% block title %}
    Slideshow-Fullscreen-DB
{% endblock %}

{% block body %}
    <div class="rahmen" id="show-rahmen-id">
        <div class="filename" id="show-filename-id"><h1> Loading ...  </h1> </div>
        <img class="einzelnesBild" id="show-bild-id" src="">
        <button class="btn btn-primary top-right" onclick="exitFullscreen()">Fullscreen verlassen</button>
    </div>

    {% for divCounter in 0..9 %}
        <div class="rahmen" id="rahmen-id-{{ divCounter }}" hidden="hidden">
            <input class="timestamp" type="hidden" id="timestamp-id-{{ divCounter }}" value="Nichts">
            <div class="filename" id="filename-id-{{ divCounter }}"><h1> Nichts  </h1></div>
            <img class="einzelnesBild" id="bild-id-{{ divCounter }}" src="">
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        let pictureArray = []

        let bilderAnzahl = 10;

        function getPicturesToShow(pictureArray) {
            $.ajax({
                type: 'GET',
                url: "{{ path('figures_to_show') }}",
                success: function (response) {
                    pictureArray = response
                }
            })
        }

        $(document).ready(function() {
            let showRahmenId = 'show-rahmen-id';
            let showRahmen = document.getElementById(showRahmenId);

            showRahmen.addEventListener('fullscreenchange', fullscreenchanged);

            document.onclick = (event) => {
                let promise = showRahmen.requestFullscreen();
            }

            $.ajax({
                type: 'GET',
                url: "{{ path('figures_to_show') }}",
                async: false,
                success: function (response) {
                    pictureArray = response
                }
            })

            console.log('Number of pics: ' + pictureArray.length)

            let showFilenameId = 'show-filename-id';
            let showFilename = document.getElementById(showFilenameId);

            // init hidden pics
            for (let i = 0; i < 10; i++) {
                let fullpath = pictureArray[i].fullPath
                console.log(fullpath);
                console.log('Setze Bild in div: ' + i);

                let hiddenBildId = 'bild-id-' + i;
                let hiddenBild = document.getElementById(hiddenBildId);

                let filenameId = 'filename-id-' + i;
                let filenameField = document.getElementById(filenameId);

                let timestampField = document.getElementById('timestamp-id-' + i);

                let dataObject = {
                    fullPath: fullpath
                }

                $.ajax({
                    type: 'POST',
                    url: "{{ path('single_picture') }}",
                    // async: false,
                    data: JSON.stringify(dataObject),
                    success: function (response) {
                        filenameField.innerHTML = response.filenameFromRequest;
                        $(hiddenBild).attr("src", 'data:image/png;base64,' + response.base64Picture);
                        timestampField.value = response.timestamp;

                        if (i === 9) {
                            showFilename.innerHTML = '<h1> Bereit! <br> Anzahl Bilder: ' + pictureArray.length + '</h1>';
                        }
                    }
                })
            }

            // pictureArray.forEach((element) => console.log(element.fullPath));
        });

        const canWakeLock = () => 'wakeLock' in navigator;
        console.log(canWakeLock());
        let wakelock;

        async function lockWakeState() {
            if(!canWakeLock()) return;
            try {
                wakelock = await navigator.wakeLock.request('screen');
                wakelock.addEventListener('release', () => {
                    console.log('Screen Wake State Locked:', !wakelock.released);
                });
                console.log('Screen Wake State Locked:', !wakelock.released);
            } catch(e) {
                console.error('Failed to lock wake state with reason:', e.message);
            }
        }

        function releaseWakeState() {
            if(wakelock) wakelock.release();
            wakelock = null;
        }

        function delay(milliseconds) {
            return new Promise(resolve => {
                setTimeout(resolve, milliseconds);
            });
        }

        function exitFullscreen() {
            document.exitFullscreen()
                .then(() => console.log("Document Exited from Full screen mode"))
        }

        async function fullscreenchanged(event) {
            if (!document.fullscreenElement) {
                console.log('Leaving fullscreen mode.');
                releaseWakeState();
            }

            // document.fullscreenElement will point to the element that
            // is in fullscreen mode if there is one. If not, the value
            // of the property is null.
            if (document.fullscreenElement) {
                await lockWakeState();
                // console.log(`Element: ${document.fullscreenElement.id} entered fullscreen mode.`);
                let showRahmenId = 'show-rahmen-id';
                let showRahmen = document.getElementById(showRahmenId);

                let showFilenameId = 'show-filename-id';
                let showFilename = document.getElementById(showFilenameId);

                let showBildId = 'show-bild-id';
                let showBild = document.getElementById(showBildId);

                let nextFileIndexToLoad = 10;

                for (let recentDivIndex = 0; recentDivIndex < 11; recentDivIndex++) {
                    if (!document.fullscreenElement) {
                        break;
                    }

                    if (recentDivIndex === 10) {
                        recentDivIndex = 0;
                    }

                    if (nextFileIndexToLoad === pictureArray.length) {
                        nextFileIndexToLoad = 0;
                    }

                    console.log('Hole bild von div: ' + recentDivIndex);

                    let recentBildId = 'bild-id-' + recentDivIndex;
                    let recentBild = document.getElementById(recentBildId);

                    let filenameId = 'filename-id-' + recentDivIndex;
                    let filenameField = document.getElementById(filenameId);

                    let timestampField = document.getElementById('timestamp-id-' + recentDivIndex);
                    console.log(timestampField.value)

                    console.log('Zeige in Rahmen: ' + filenameField.innerHTML);
                    showBild.src = recentBild.src;
                    showFilename.innerHTML = '<h1>' + filenameField.innerHTML + '<br>' +  timestampField.value + '</h1>';

                    console.log('Lade neues Bild: ' + pictureArray[nextFileIndexToLoad].fileName);

                    let dataObject = {
                        fullPath: pictureArray[nextFileIndexToLoad].fullPath
                    }

                    $.ajax({
                        type: 'POST',
                        url: "{{ path('single_picture') }}",
                        data: JSON.stringify(dataObject),
                        success: function (response) {
                            filenameField.innerHTML = response.filenameFromRequest;
                            $(recentBild).attr("src", 'data:image/png;base64,' + response.base64Picture);
                            timestampField.value = response.timestamp;
                        }
                    })

                    // nextRahmen.removeAttribute('hidden');
                    // recentRahmen.setAttribute('hidden', 'hidden');

                    await delay(5000);

                    nextFileIndexToLoad = nextFileIndexToLoad + 1;
                }
            }
        }

        function setPictureByFullPath(fullpath, filenameHeader, rahmenBild) {
            let dataObject = {
                fullPath: fullpath
            }

            console.log(dataObject)

            $.ajax({
                type: 'POST',
                url: "{{ path('single_picture') }}",
                data: JSON.stringify(dataObject),
                success: function (response) {
                    filenameHeader.innerHTML = '<h1>' + response.filenameFromRequest + '</h1>';
                    $(rahmenBild).attr("src", 'data:image/png;base64,' + response.base64Picture);
                }
            })
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .rahmen {
            position: relative;
            text-align: center;
            /*color: white;*/
            background-color: navajowhite;
        }

        .einzelnesBild
        {
            /*display:flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*margin-top: auto;*/
            /*z-index:0;*/
            /*width: 100%;*/
            /*height: 100vh;*/
            max-width: 100%;
            max-height: 100%;
            height: inherit !important;
            /*display: none;*/
        }
        .einzelnesBild-hidden
        {
            /*display:flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*margin-top: auto;*/
            /*z-index:0;*/
            /*width: 100%;*/
            /*height: 100vh;*/
            max-width: 100%;
            max-height: 100%;
            height: inherit !important;
            display: none;
        }
        .filename {
            position: absolute;
            top: 8px;
            left: 16px;
            color: green;
        }
        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
{% endblock %}
