<body>
    <div id="filename">Dateiname: </div>
    {% for directoryEntry in directoryEntries %}
        <input class="filenames" type="hidden" name="filenames-{{ directoryEntry }}" value="{{ directoryEntry }}">

        <div class="rahmen" id="{{ directoryEntry }}">
            <img loading=lazy id="hochkantBg-{{ directoryEntry }}" class="imagesHochBg" src="bilder/{{ directoryEntry }}">
            <img loading=lazy id="hochkant-{{ directoryEntry }}" class="imagesHoch" src="bilder/{{ directoryEntry }}">
        </div>
    {% endfor %}
</body>

<script type="text/javascript">
    var myIndex = 0;
    var currentVid=0;
    slideShow();

    function slideShow()
    {
        let x = document.getElementsByClassName("rahmen");
        let timeoutLength = 2000;

        for (let i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }

        x[myIndex - 1].style.display = "block";

        setTimeout(slideShow, timeoutLength);
    }
</script>

<style>
    body{
        background-color: black;
        color: green;
    }

    #quer{
        width: auto;
        height: 100vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    #querVid{
        width: auto;
        height: 100vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .imagesHochBg {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        z-index:0;
        filter: blur(20px);
        -webkit-filter: blur(20px);
        opacity: 0.8;
        width: 100%;
        height: 100vh;
    }
    .imagesHoch
    {
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100vh;
        z-index:1;
        height: 100vh;
    }
</style>
