{% extends 'base.html.twig' %}

{% block body %}
    {% set divCounter = 0 %}

    {% for directoryEntry in directoryEntries %}
        <input class="filenames" type="hidden" name="filenames-{{ directoryEntry }}" value="{{ directoryEntry }}">

        {% if divCounter < 10 %}
            <div class="rahmen" id="appin-"{{ divCounter }} onclick="openFullscreen({{ divCounter }})">
                <div id="filename">Dateiname: </div>
                <img id="bild-id-{{ divCounter }}" class="einzelnesBild" src="bilder/{{ directoryEntry }}">
            </div>
        {% endif %}

        {% set divCounter = divCounter + 1 %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            let interval = 2000;
            let timer = 0;
            let divCounter = 0;
            let divBatch = 10;
            let allFilenames = document.getElementsByClassName('filenames');

            for (let i = 0; i < allFilenames.length; i++) {
                if (i > 5) {
                    break;
                }
                timer += interval;

                // setTimeout(blockFigureByDivCounter, timer, divCounter, allFilenames);
                divCounter++;
            }

            // setInterval(myTimer, 1000);
            //
            // function myTimer() {
            //     const date = new Date();
            //     document.getElementById("demo").innerHTML = date.toLocaleTimeString();
            // }

            // let allFilenames = document.getElementsByClassName('filenames');
            //
            // let header = document.getElementById("filename");
            //
            // let interval = 2000;
            // let timer = 0;
            //
            // for (let i = 0; i < allFilenames.length; i++) {
            //     timer += interval;
            //     let filename = allFilenames[i].value;
            //
            //     // const myTimeout = setInterval(setFigure, 10000, filename);
            //
            //     setTimeout(function () {
            //         header.innerHTML = '<h1>Dateiname: ' + filename + '</h1>';
            //     }, timer);
            // }
        });

        function blockFigureByDivCounter(divCounter, allFilenames)
        {
            let bildId = 'bild-id-' + divCounter;
            let bild = document.getElementById(bildId);
            bild.src = 'bilder/' + allFilenames[divCounter + 10].value;

            // bild.style.display = 'none';

        }

        function setFigure(filename)
        {
            document.getElementById("filename").innerHTML = '<h1 id="filename">Dateiname: ' + filename + '' + '</h1>';
            document.getElementById("hochkant").src = 'bilder/' + filename;
            document.getElementById("hochkantBg").src = 'bilder/' + filename;
        }

        function setSourceOfNextDiv(startingDivNumber, divCounter, allFilenames)
        {
            // starting div number should be constant, since this is the place where all figures are placed
            let bildId = 'bild-id-' + startingDivNumber;
            let bild = document.getElementById(bildId);

            let nextDivNumber = divCounter + 1;
            if (nextDivNumber > 9) {
                nextDivNumber = 0;
            }

            let nextBildId = 'bild-id-' + nextDivNumber;
            let nextBild = document.getElementById(nextBildId);
            bild.src = nextBild.src;

            // let nextBildId = 'bild-id-' + (divCounter+1);
            // let nextBild = document.getElementById(nextBildId);
            //
            // if (nextBild.requestFullscreen) {
            //     nextBild.requestFullscreen();
            // } else if (nextBild.webkitRequestFullscreen) { /* Safari */
            //     bild.webkitRequestFullscreen();
            // } else if (nextBild.msRequestFullscreen) { /* IE11 */
            //     nextBild.msRequestFullscreen();
            // }
        }

        function openFullscreen(startingDivNumber) {
            let bildId = 'bild-id-' + startingDivNumber;
            let bild = document.getElementById(bildId);

            if (bild.requestFullscreen) {
                bild.requestFullscreen();
            } else if (bild.webkitRequestFullscreen) { /* Safari */
                bild.webkitRequestFullscreen();
            } else if (bild.msRequestFullscreen) { /* IE11 */
                bild.msRequestFullscreen();
            }

            let allFilenames = document.getElementsByClassName('filenames');

            let interval = 2000;
            let timer = 0;

            let divCounter = startingDivNumber;

            for (divCounter; divCounter < 10; divCounter++) {
                timer += interval;
                // ToDo: set also recent counter in function
                setTimeout(setSourceOfNextDiv, timer, startingDivNumber, divCounter, allFilenames);
            }

            // let nextBildId = 'bild-id-' + (divCounter+1);
            // let nextBild = document.getElementById(nextBildId);
            //
            // if (nextBild.requestFullscreen) {
            //     nextBild.requestFullscreen();
            // } else if (nextBild.webkitRequestFullscreen) { /* Safari */
            //     bild.webkitRequestFullscreen();
            // } else if (nextBild.msRequestFullscreen) { /* IE11 */
            //     nextBild.msRequestFullscreen();
            // }

            // let allFilenames = document.getElementsByClassName('filenames');
            //
            // let header = document.getElementById("filename");
            // let picture = document.getElementById("hochkantBg-DSCF0002.JPG")
            //
            // let interval = 2000;
            // let timer = 0;
            //
            // for (let i = 0; i < allFilenames.length; i++) {
            //     timer += interval;
            //     let filename = allFilenames[i].value;
            //
            //     // const myTimeout = setInterval(setFigure, 10000, filename);
            //
            //     setTimeout(function () {
            //         picture.src = 'bilder/' + filename;
            //     }, timer);
            // }

            // document.getElementById("hochkantBg-DSCF0002.JPG").src = "bilder/DSCF0023.JPG";
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        *:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
            background-color: rgba(255,255,255,0)!important;
            padding: 20px;
        }

        ::backdrop
        {
            background-color: white;

        }

        body{
            background-color: black;
            color: green;
        }

        #quer{
            width: auto;
            height: 100vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }
        #querVid{
            width: auto;
            height: 100vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }
        #hochkantBg
        {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            z-index:0;
            filter: blur(20px);
            -webkit-filter: blur(20px);
            opacity: 0.8;
            width: 100%;
            height: 100vh;
        }
        .hochkant
        {
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: -100vh;
            z-index:1;
            height: 100vh;
        }
        .einzelnesBild
        {
            /*display:flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*margin-top: auto;*/
            /*z-index:0;*/
            /*width: 100%;*/
            /*height: 100vh;*/
            max-width: 100%;
            max-height: 100%;
            height: inherit !important;
            /*display: none;*/
        }
    </style>
{% endblock %}